* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* HEADER */

header {
  width: 900px;
  margin: 0 auto;
  position: relative;
}

ul {
  list-style: none;
  position: absolute;
  right: 15px;
  top: 15px;
}

li {
  display: inline-block;
  margin: 0 15px;
  padding: 15px 15px;
  position: relative;
  background-color: white;
  border-radius: 50%;
  z-index: 2;
}

.header-block {
  width: 900px;
  height: 100px;
  background: ;
  position: fixed;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  z-index: 1;
}

.overlay::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.header-block ul li a {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 20px;
  z-index: 2;
}

/* MAIN */

main {
  width: 900px;
  margin: 0 auto;
  position: relative;
}
.container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.container-image {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.container-image img {
  max-height: 250px;
}

.container-text {
  font-size: 30px;
  font-weight: bold;
}

.red {
  background: red;
  color: yellow;
}
.green {
  background: green;
  color: yellow;
}

.yellow {
  background: yellow;
  color: green;
}
